/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFFFFF;
  font-size: 1rem;
}

a {
  color: #FFFFFF;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}
.container--small {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.title-2 {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}

.header {
  min-height: 840px;
  background-image: url(/images/header/header-bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1.875rem;
  padding-bottom: 4.625rem;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 3rem;
  color: #D4C17F;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5.0625rem;
}
.header__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
}

.nav {
  font-size: 0.875rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.info {
  position: relative;
  font-size: 1.125rem;
  padding-left: 2.1875rem;
}
.info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.3125rem;
  height: 1.3125rem;
  background-image: url(/images/header/map.svg);
  background-repeat: no-repeat;
}
.info--tel::before {
  background-image: url(/images/header/phone.svg);
}

.benefits {
  padding: 7.5rem 0;
}
.benefits__row {
  margin: 0 auto;
  display: flex;
  gap: 4.375rem;
}
.benefits__item {
  text-align: center;
}
.benefits__item img {
  width: 5rem;
  height: 5rem;
}

.benefits__item-img {
  margin-bottom: 3.3125rem;
}

.benefits__item-title {
  font-size: 1.25rem;
  line-height: 1.35;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.appartments__title {
  margin-bottom: 5.5rem;
}

.card {
  display: inline-block;
  position: relative;
  color: #FFFFFF;
}
.card::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0.9375rem;
  top: 0.9375rem;
  right: 0.9375rem;
  bottom: 0.9375rem;
  border: 0.1875rem double rgba(255, 255, 255, 0.4);
  transition: opacity 0.2s ease-in;
}
.card:hover {
  color: #FFFFFF;
}
.card:hover::after {
  opacity: 1;
}

.card__title {
  position: absolute;
  left: 3.125rem;
  right: 1.25rem;
  bottom: 2.75rem;
  z-index: 2;
  font-size: 1.5rem;
  z-index: 9;
}