.appartments {
    position: relative;
    &:before{
        content: 'III';
        right: calc(50% + 34.6875rem);
        transform: translate(50%, 0%);
        @include decorNumber;
        line-height: 1;
    }
}
.appartments__title {
    margin-bottom: 5.5rem;
    @include mediaTablet{
        margin-bottom: 2.75rem;
    }
}

.appartments__cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.875rem;
    @include mediaTablet{
        display: grid;
        grid-template-columns:  repeat(auto-fit,minmax(290px, 1fr));
    }
}