.appartments {
    position: relative;
    &:before{
        content: 'III';
        right: calc(50% + 34.6875rem);
        transform: translate(50%, 0%);
        @include decorNumber;
        line-height: 1;
    }
}
.appartments__title {
    margin-bottom: 5.5rem;
}

.appartments__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}