.benefits{
    padding: 7.5rem 0;
    &__row{
        margin: 0 auto;
        display: flex;
        gap: 4.375rem;
       
    }
    &__item{
        text-align: center;
        img{
            width: 5rem;
            height: 5rem;

        }
    }
}
.benefits__item-img{
    margin-bottom: 3.3125rem;
}
.benefits__item-title{
    font-size: 1.25rem;
    line-height: 1.35;
    font-weight: 300;
    font-family: $font-secondary;
}




