.cta {
    padding: 11.25rem 0;
    background-image: url(../images/cta-bg.jpg);
    background-repeat: no-repeat;
    @include mediaTablet {
        padding: 3.75rem 0;
    }


}

.cta__title {
margin-bottom: 1.0625rem;

}

.cta__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
    @include mediaTablet{
        grid-template-columns: 1fr;
    }
}
.cta__text {
    line-height: 1.5;
    color: $white;
    p + p{
        margin-top: 1em;
    }
    @include mediaTablet{
        font-size: 0.875rem;
    }

}

.cta__form {
    
}

