.info {
    
    position: relative;
    font-size: 1.125rem;
    padding-left: 2.1875rem;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
      
        width: 1.3125rem;
        height: 1.3125rem;
        background-image: url(/images/header/map.svg);
        background-repeat: no-repeat;
    }
    &--tel::before{
        background-image: url(/images/header/phone.svg)
    }
}