.section-map {
    padding: 11.25rem 0;
    position: relative;
    &:before{
        content: 'V';
        z-index: -1;
        right: calc(50% + 34.6875rem);
        transform: translate(50%, 0%);
        @include decorNumber;
        line-height: 1;
        top: 10.625rem;
    }
} 

.section-map__title {
    margin-bottom: 5.5rem;
}

.section-map__map {
   
}
.map {
    background: #626262;
    height: 22.375rem;
}