.video {
    text-align: center;
    position: relative;
    &:after{
        content: 'IV';
        left: calc(50% + 34.6875rem);
        transform: translate(-50%, 0%);
        @include decorNumber;
        line-height: 1.20;
    }
}


.video__link {
    position: relative;
    display: inline-block;
    text-align: center;
   
    &:hover{
        .video__play{
            transition: all 0.2s ease-in;
            filter: contrast(130%) brightness(1.2) saturate(1.2);
            transform:  translate(-50%, -50%) scale(1.1);

        }
        
    }
}
.video__play {
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video__image {
   
}